<div id=”footer-menu”>
  <ul>
    <li><a href=”ホームページのURL”>Home</a></li>
    <li><a href=”人気記事等のURL”>人気記事</a></li>
    <li><a href=”おすすめしたいページのURL”>おすすめ</a></li>
    <li><a href=”#header”>TOPへ</a></li>
  </ul>
</div>