  <div class="music">
    <input type="radio" name="music" value="alerm1.mp3" checked id="music_1"><label for="music_1"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
  <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
  <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
  <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
</svg></label>
    <input type="radio" name="music" value="alerm2.mp3" id="music_2"><label for="music_2"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
  <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
  <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
  <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
</svg></label>
    <input type="radio" name="music" value="alerm3.mp3" id="music_3"><label for="music_3"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
  <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
  <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
  <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
</svg></label>
  </div>

  <br>

  <div class="onair">
    <button id="recode-start" data-json="<%= @words.to_json(only: [:name]) %>">録音開始</button>
    <button class="hide" id="recode-stop">録音停止</button>
    <button class="hide" id="music-stop"><i class="fas fa-volume-mute"></i></button>
    <div>On Air</div>
  </div>

  <div id="content"></div>

<script>
  status = 0
  word = $('#recode-start').data('json');
  speech = new webkitSpeechRecognition();
  speech.lang = 'ja-JP';

  recodeStart = document.getElementById('recode-start');
  recodeStop = document.getElementById('recode-stop')
  musicStop = document.getElementById('music-stop');
  content = document.getElementById('content');

  recodeStart.addEventListener('click' , function() {
    speech.stop();
    speech.start();
    $(`#recode-start`).addClass(`hide`)
    $(`#recode-stop`).removeClass(`hide`)
    $(`#recode-stop`).addClass(`record-color`)
    $(`.onair > div`).addClass(`record-click`)
  });

  recodeStop.addEventListener('click' , function() {
    status = 1
    $(`#recode-start`).removeClass(`hide`)
    $(`#recode-stop`).addClass(`hide`)
    $(`.onair > div`).removeClass(`record-click`)
  });
  
  musicStop.addEventListener('click' , function() {
    music.pause();
    music.curretTime = 0
    $(`#music-stop`).addClass(`hide`) 
  });

  speech.onresult = function(e) {
    speech.stop();
    id = "normal"
    if(e.results[0].isFinal){
        var autotext =  e.results[0][0].transcript
        for (let i = 0; i < word.length; i++) {
          if (autotext.includes(word[i]["name"])){
            id = "alert"
            select = $('input:radio[name="music"]:checked').val()
            music = new Audio(select)
            music.play();
            $(`#music-stop`).removeClass(`hide`)
          } 
        }
      $(`#content`).append(`<div id="content_${id}">${autotext}</div>`)
    }
  }
  
  speech.onend = () => { 
    if (status == 0){
      speech.start() 
    } else {
      speech.stop()
    }
  };

</script>