<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2>音声認識サンプル</h2>
    <button id="recode-start" data-json="<%= @words.to_json(only: [:name]) %>">録音開始</button>
    <button id="recode-stop">録音停止</button>
    <button class="hide" id="music-stop">音声ストップ</button>
    <div id="content"></div>

<script>
  word = $('#recode-start').data('json');
  const music = new Audio('alerm.mp3');
  const speech = new webkitSpeechRecognition();
  speech.lang = 'ja-JP';

  const recodeStart = document.getElementById('recode-start');
  const recodeStop = document.getElementById('recode-stop')
  const musicStop = document.getElementById('music-stop');
  const content = document.getElementById('content');

  recodeStart.addEventListener('click' , function() {
      speech.start();
  });

  recodeStop.addEventListener('click' , function() {
    console.log("停止");
      speech.abort();
  });
  
  musicStop.addEventListener('click' , function() {
      music.pause();
  });


  // speech.interimResults = true;

  speech.onresult = function(e) {
    speech.stop();
    id = "normal"
    if(e.results[0].isFinal){
        var autotext =  e.results[0][0].transcript
        for (let i = 0; i < word.length; i++) {
          if (autotext.includes(word[i]["name"])){
            id = "alert"
            music.play();
            $(`#music-stop`).removeClass(`hide`)
            console.log("成功！");
          } 
        }
      $(`#content`).append(`<div id="content_${id}">${autotext}</div>`)
    }
  }

    speech.onend = () => { 
      speech.start() 
    };

</script>