<div class="lp-top">
  <div class="business-person-pc">
    <img src="business-person2.png" height="400" width="400">
  </div>
  <div class="business-person-pc">
    <img src="allow.png" height="400" width="400">
  </div>
  <div class="business-person-pc">
    <img src="person.png" height="400" width="400">
  </div>
</div>

<div class="business-person">
  <img src="business-person2.png" height="100" width="100">
  <img src="allow.png" height="100" width="100">
  <img src="person.png" height="100" width="100">
</div>

<div class="catch-copy">
  <div>安心してください</div>
  <div>もう聞き逃しません</div>
</div>

<div class="detail">
  <span>えっ？今なんて言った？</span>が起こらなくなる。<br />オンライン上の<span>会議</span>や<span>授業</span>がより<span>快適</span>なものに。
</div>

<div class="link">
  <%= link_to "はじめる", new_user_registration_path, class:"lp-button" %>
</div>



