<div class="site">※対応サイト Google Chrome, Edge, Chrome for Android </div>

<div class="catch-copy">
  <div>安心してください</div>
  <div>起こしますよ</div>
</div>

<div class="detail">
  <span>えっ？今なんて言った？</span>が起こらなくなる。<br />オンライン上の<span>会議</span>や<span>授業</span>がより<span>快適</span>なものに。
</div>

<div class="link">
  <%= link_to "はじめる", new_user_registration_path, class:"lp-button" %>
</div>

<div class="business-person">
  <img src="images/business-person.png" height="100" width="100">
  <img src="images/allow3.png" height="100" width="100">
  <img src="images/person2.png" height="100" width="100">
</div>

<div class="lp-top">
  <div class="business-person-pc">
    <img src="images/business-person.png" height="400" width="400">
  </div>
  <div class="business-person-pc">
    <img src="images/allow3.png" height="400" width="400">
  </div>
  <div class="business-person-pc">
    <img src="images/person2.png" height="400" width="400">
  </div>
</div>

<div class="how-to-use">
  <div class="use-title">使い方</div>
  <div class="under-line"></div>
  <div class="explain">1.キーワードを登録しましょう。（複数選択可）※ここで登録したキーワードを探知してお知らせします。</div>
  <div class="explain">2.お知らせする際の音声を選択しましょう。</div>
  <div class="explain">3.「録音開始」をクリックしてスタートです。</div>
  <div class="explain-image">
    <img src="images/explain-iphone.png" height="450vh" width="250vw" alt="iphone" title="iphone">
  </div>

  <div class="explain-image">
    <img src="images/finish-iphone.png" height="400vh" width="250vw" alt="iphone" title="iphone">
  </div>
</div>


<div class="how-to-use-pc">
  <div class="use-title-pc">使い方</div>
  <div class="under-line-pc"></div>
  <div class="explain-pc">1.キーワードを登録しましょう。（複数選択可）※ここで登録したキーワードを探知してお知らせします。</div>
  <div class="explain-pc">2.お知らせする際の音声を選択しましょう。</div>
  <div class="explain-pc">3.「録音開始」をクリックしてスタートです。</div>
  <div class="explain-image-pc">
    <img src="images/explain-pc.png" height="550vh" width="100%">
  </div>

  <div class="explain-image-pc">
    <img src="images/finish-pc.png" height="600vh" width="100%">
  </div>
</div>

<div class="link">
  <%= link_to "はじめる", new_user_registration_path, class:"lp-button" %>
</div>