<div class="new-word">
<%= form_for [@user,@word], url: user_words_path(current_user) do |f| %>
<div class="field">
  <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "キーワード", class: "input" %>
</div>

<br>

<div class="actions">
  <%= f.submit "追加", class: "button is-success" %>
</div>
<% end %>
</div>