/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

.hide{
  display: none;
}

.shoe{
  display: block;
}

 #content_alert{
   color: red;
 }