/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 $ruler: 16px;
 $color-red: #AE1100;
 $color-bg: #EBECF0;
 $color-shadow: #9dbed1;
 $color-white: #FFF;


.hide{
  display: none;
}

.record-color {
  color: red;
}

#content {
  padding-top: 20px;
}

 #content_alert{
   color: red;
   font-size: 1.5rem;
 }

 #content_normal{
   color: black;
 }

 #music-stop {
   color: red;
 }
 
 .music {
   display: flex;
   justify-content: space-between;
 }

 .record-click {
   color: red;
 }

 .onair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 800;
 }

 .navbar-color {
   color: #EBECF0;

   span {
     color: black;
   }
 }

 .is-danger {
   p {
     color: red;
     text-align: center;
   }
 }

.music {
  input[type=radio]{
    display: none
  }
  input[type="radio"]:checked + label {
    line-height: 60px;
    text-align: center;
    font-size: $ruler;
    border-radius: $ruler;
    background-color:$color-bg;
    color:#61677C;
    box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: default;
    }
  label {
    cursor: pointer;
    line-height: 60px;
    border-radius: $ruler;
    text-align: center;
    margin-right: $ruler/2;
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  }
}



  .actions {
    input {
      color:#61677C;
      font-weight: bold;
      box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      font-weight: 600;
      border: 0;
      outline: 0;
      font-size: $ruler;
      border-radius: $ruler*3;
      padding: $ruler;
      background-color:$color-bg;
      text-shadow: 1px 1px 0 $color-white;
      &:active {
        box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
      } 
    }
  }

  .navbar-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }

  .navbar-sub-menu {
    float: right;
  }

  //スマホ用
 @media screen and (max-width: 600px) {
  main {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    }
  body, html {
    background-color:$color-bg;
  }
  
  body, p, input, select, textarea, button, .lp-button {
      font-family: 'Montserrat', sans-serif;
      letter-spacing: -0.2px;
      font-size: $ruler;
  }

  body {
    padding-bottom: 85px;
  }
  
  div, p {
    color: $color-shadow;
    text-shadow: 1px 1px 1px $color-white;
  }

  nav {
    box-shadow: 0px 5px 5px -5px #b3b6c2;
  }
  
  form {
    padding: $ruler;
  }
  
  .segment {
    padding: $ruler 0;
    text-align: center;
  }
  
  button, input {
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler;
    padding: $ruler;
    background-color:$color-bg;
    text-shadow: 1px 1px 0 $color-white;
  }
  
  label {
    display: block;
    margin-bottom: $ruler*1.5;
    width: 100%;
  }
  
  input {
    text-align: center;
    margin-right: $ruler/2;
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  
    &:focus {
      box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
  }
  
  button {
    color:#61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    
    &:hover {
      box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }
    
    &:active {
      box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
    
    .icon {
      margin-right: $ruler/2;
    }
    
    &.unit {
      border-radius: $ruler/2;
      line-height: 0;
      width: $ruler*3;
      height: $ruler*3;
      display:inline-flex;
      justify-content: center;
      align-items:center;
      margin: 0 $ruler/2;
      font-size: $ruler*1.2;
      
      .icon {
        margin-right: 0; 
      }
    }
    
    &.red {
      display: block;
      width: 100%;
      color:$color-red;
    }
  }
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    label {
      margin: 0;
      flex: 1;
    }
  }

  footer{
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .footer-list {
    width: 100%;
    height: 12vh;
    background-color: #EBECF0;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
  }

  .footer-list {
    a {
      color: #61677C;
    }
    input[type=radio]{
      display: none
    }
    input[type="radio"]:checked + label {
      line-height: 60px;
      text-align: center;
      font-size: $ruler;
      border-radius: $ruler;
      background-color:$color-bg;
      color:#61677C;
      box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
      transition: all 0.2s ease-in-out;
      cursor: default;
      }
    label {
      cursor: pointer;
      line-height: 60px;
      border-radius: $ruler;
      text-align: center;
      margin-right: $ruler/2;
      box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
      width: 60px;
      height: 60px;
      box-sizing: border-box;
      transition: all 0.2s ease-in-out;
      appearance: none;
      -webkit-appearance: none;
    }
  }

  .header-menu{
    display: none;
  }

  .music input {
    &:focus {
      box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px rgb(255, 255, 255);
    }
  }
  .new-word {
    margin-left: auto;
    margin-right: auto;
  }

  //ハンバーガーメニュー
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: $color-bg;
    border-radius: $ruler*2;
}
.menu-btn-check {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #000000;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000000;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check:checked ~ .menu-content ul{ 
  left: 0;/*メニューを画面内へ*/
} 

#menu-btn-check:checked ~ .navbar-color {
  color:red;
}

.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 30px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #000000;
  transition: all 0.5s;/*アニメーション設定*/
  display: none;
  opacity: 0;
}
#menu-btn-check:checked ~ .menu-content {
    left: 0%;/*メニューを画面内へ*/
}
.ham-menu {
  display: block;
}
.catch-copy {
  margin-top: 50px;
  font-size: 10vw;
  text-align: center
}

.detail {
  text-align: center;
  font-size: 3vw;
  margin-top: 50px;
}

.detail span {
  font-size: 5vw;
}

.info {
  position: fixed;
  text-align: center;
  font-size: 5vw;
  bottom: 35px;
}
.lp-button {
  height: 100px;
  width: 150px;
  border: 0;
  outline: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 28px;
  border-radius: $ruler*20;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

&:hover {
  color: cadetblue;
  text-decoration: none;
  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
}
}
.link {
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
  margin-bottom: 12vh;
}
.business-person {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.lp-top {
  display: none;
}
 }
 

 //PC用
 @media screen and (min-width: 601px) {
  main {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    }
  body, html {
    background-color:$color-bg;
  }
  
  body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
  }
  
  div, p {
    color: $color-shadow;
    text-shadow: 1px 1px 1px $color-white;
  }

  nav {
    box-shadow: 0px 5px 5px -5px #b3b6c2;
  }
  
  
  form {
    padding: $ruler;
    width: $ruler*20;
    margin: 0 auto;
  }
  
  .segment {
    padding: $ruler*2 0;
    text-align: center;
  }
  
  button, input, .header-menu {
    text-decoration:none; 
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler*20;
    padding: $ruler;
    background-color:$color-bg;
    text-shadow: 1px 1px 0 $color-white;
  }
  
  label {
    display: block;
    margin-bottom: $ruler*1.5;
    width: 100%;
  }
  
  input {
    margin-right: $ruler/2;
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  
    &:focus {
      box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
  }
  
  button, .header-menu {
    text-decoration:none; 
    color:#61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    
    &:hover {
      text-decoration:none; 
      box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }
    
    &:active {
      box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
    
    .icon {
      margin-right: $ruler/2;
    }
    
    &.unit {
      border-radius: $ruler/2;
      line-height: 0;
      width: $ruler*3;
      height: $ruler*3;
      display:inline-flex;
      justify-content: center;
      align-items:center;
      margin: 0 $ruler/2;
      font-size: $ruler*1.2;
      
      .icon {
        margin-right: 0; 
      }
    }
    
    &.red {
      display: block;
      width: 100%;
      color:$color-red;
    }
  }
  
  .header-menu {
    &:hover {
      color: cadetblue;
    }
  }

  .logout {
    &:hover {
      color: red;
    }
  }
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    label {
      margin: 0;
      flex: 1;
    }
  }
  .link-hover{
    display: none;
  }
  .menu-content ul {
    display: none;
  }
  .catch-copy {
    margin-top: 50px;
    font-size: 100px;
    text-align: center
  }
  
  .detail {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
  }
  
  .detail span {
    font-size: 50px;
  }
  
  .link {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
  }
  .lp-button {
    height: 100px;
    width: 150px;
    border: 0;
    outline: 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 60px;
    border-radius: $ruler*20;
    background-color:$color-bg;
    text-shadow: 1px 1px 0 $color-white;
    color:#61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
  
  &:hover {
    color: cadetblue;
    text-decoration: none;
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
} 
  .info {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    text-align: center;
    font-size: 20px;
    bottom: 35px;
  }
  .business-person {
    display: none;
  }
  .business-person-pc {
    text-align: center;
    // margin-top: 100px;
  }
  .lp-top {
    display: flex;
    justify-content: space-between;
  }
 }

 